.Button {
  width: 200px;
  font-size: 42px;
  margin: 10px;
  border-radius: 10px;
}

.Plus {
  color: green;
}

.Minus {
  color: red;
}

.Calculate {
  color: white;
  background-color: green;
}

.Reset {
  color: white;
  background-color: red;
}
